---
---


<section class="product-outline padded">
    <div class="container">
   
        <div class="text-container center">
          <h2 class="h1-title">Start your free Giallo trial today</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim harum soluta ad labore itaque nam vel natus excepturi magni! staopjs ore itaque nam .</p>

          <div class="content-form row">
            <input type="text" placeholder="Enter email address" class="eight columns">
            <button class="button button-primary four columns">Let's go</button>
         </div>
        </div>
      
      </div>
</section>


<style lang="scss">

.product-outline{
  background-color: #fff;
}


</style>