---

---




<section class="product-reviews padded" id="people">
    <div class="container">
      <div class="text-container center">
        <h2 class="h2-title">Join the club</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quidem odio qui ipsum aut consequatur modi doloribus praesentium deleniti tempora!.</p>
      </div>

      <div class="customer-reviews">
        <div class="row">
          <div class="one-half column">
            <div class="customer-card">
              <h4>"I deployed Giallo within my whole organization and couldn't be happier : simple flows, nice UI, functional product. The onboarding was smooth, and everyone in the team got the hang of it very quickly."</h4>
              <div class="bottom-card">
                <div class="circular-image">
                  <img src="https://images.pexels.com/photos/3756985/pexels-photo-3756985.jpeg?auto=compress&cs=tinysrgb&w=800">
                </div>
                <div>
                  <h5>Martha Kent</h5>
                  <p>Project Manager, Stripe</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="one-half column">
            <div class="customer-card">
              <h4>"I deployed Giallo within my whole organization and couldn't be happier : simple flows, nice UI, functional product. The onboarding was smooth, and everyone in the team got the hang of it very quickly."</h4>
              <div class="bottom-card">
                <div class="circular-image">
                  <img src="https://images.pexels.com/photos/3394657/pexels-photo-3394657.jpeg?auto=compress&cs=tinysrgb&w=800">
                </div>
                <div>
                  <h5>Clark Derek</h5>
                  <p>Head of HR, Google</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>


 <style lang="scss">



.customer-reviews{
  padding: 30px 0;
  h4{
    font-size: 2.3rem;
  }

  .customer-card{
    margin-top: 30px;
  }
}


.circular-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }

  .bottom-card{
    display: flex;
    padding: 10px 0;
    div:nth-child(2){
      padding-top: 10px;
    }
    h5, p{
      margin: 0px;
    }
    h5{
      font-size: 2rem;
      font-weight: 600;
    }
  }
</style>